# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
env/
venv/

# Ignore databases and data files
*.db
*.sqlite
*.sqlite3
*.csv

# Ignore environment variable files
.env
.env.*

# Ignore editor / IDE files
.vscode/
.idea/

#  Ignore OS system files
.DS_Store
Thumbs.db
